.seasons {
    padding: 4rem 2rem;
    background-color: #2d2d2d;
    text-align: center;

    h2{
        margin-bottom: 40px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 2rem;
        justify-items: center;
    }

    &__card {
        background-color: #1d2d15;
        padding: 1.5rem;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba(96, 165, 32, 0.3);
        transition: transform 0.3s ease, background-color 0.3s ease;
        max-width: 280px;
        text-align: left;

        &:hover {
        transform: translateY(-6px);
        background-color: #273c2c;
        }

        h3 {
        color: #fff;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        }

        img {
        width: 100%;
        max-width: 280px;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
        margin-bottom: 1rem;
        }

        p {
        color: #ccc;
        font-size: 0.95rem;
        line-height: 1.4;
        }
    }
}
