@use 'variaveis';
@use 'header';
@use 'home';
@use 'personagens';
@use 'temporadas';
@use 'footer';
// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

// MIXINS
@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}
@mixin title($fontSize: 40px){
    @include text($fontSize);
    color: variaveis.$corTextoPrincipal;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

// CLASSES DOS MIXINS 

.text {
    @include text;
}

// ***********************

.title{
    @include title;
    @media (max-width: 768px){
        font-size: 30px;

    }

}
.title--small{
    @include title(22px);
    @media (max-width: 768px) {
        font-size: 15px;
    }
}